.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  transition: all 0.3s;
  margin-top: 3%;
}
.button1:hover {
  color: #000000;
  background-color: #ffffff;
  border: 0.1em solid #000000;
}

.page-content {
  background-color: #ffffff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.information-page-content {
  background-color: #ffffff;
  /* min-height: 100vh; */

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-link {
  color: #61dafb;
}
/* 
.my-dropdown {
  font-size: 75;
  position: fixed;
  right: 0;
} */

/* from https://stackoverflow.com/questions/28225268/making-ahover-shrink-the-img */
button {
  transition: transform 0.4s;
}
button:hover {
  transform: scale(0.98);
}
/* */

.connect-icons {
  display: flex;
  flex-direction: row;
}

.footer {
  margin-top: 150px;
  background-color: #f7f7f7;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  color: black;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 70px;
  width: 80%;
  margin-bottom: 40px;
}

.project-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "Titillium Web", sans-serif;
}

.project-box-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-box-text {
  text-align: left;
}

.sticky-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 20px 0;
  /* background-color: #f8f9fa; */
  background-color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #187444;
  border-bottom: 1px solid black;
  z-index: 1;
}

.sub-text {
  color: "black";
  font-family: "Titillium Web", sans-serif;
  width: 80%;
  margin-top: 20px;
}

/* style={{ backgroundColor: "#eee8aa", width: "100%" }} */

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin-top: 260px;
  margin-bottom: 260px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
